@charset "utf-8";
html,body{height: 100%;overflow-x: hidden!important}

/*header page1*/
#header{position:fixed;z-index: 1;width: 100%;height:60px;
    transition:0.3s;}
#header img{height:35px;}
#header.bg{background-color:#3d3937;}
#header h1{float:left;width: 100px;
	position: absolute;top:10px;left: 20px;}
#header .nav{float: right; line-height: 60px;}
nav.nav li{width:80px;float:left;text-align:center;}
nav.nav a{display: block;color: white;  font-size: 0.9em;}

nav.nav li.active a{color:black;}

.navbar-header {position:absolute; z-index:999; right:0; top:22px;
display: none;}
.toggle-button {margin-right:15px;height: 20px;width: 35px;
    cursor: pointer;z-index: 3;}
.bar {background-color:#fff;display: block;width: 100%;height: 2px;
    border: 0;-webkit-transition: all .35s ease;
    transition: all .35s ease;}
.bar + .bar {margin-top: 7px;}
.middle {top: 11px;}
.bottom {top: 22px;}
.toggle-button:hover {opacity: .7;}
.toggle-active .bar {background-color: #fff;}
.toggle-active .top {-webkit-transform: translateY(6px) 
    translateX(0) rotate(45deg);}
.toggle-active .middle {opacity: 0;}
.toggle-active .bottom {-webkit-transform: translateY(-12px) 
    translateX(0) rotate(-45deg);}
.overlay {position: fixed;background:#3d3937;top: 0;right: 0;
    width:50%;height: 0;visibility: hidden;
    opacity: 0;-webkit-transition: opacity .35s, 
    visibility .35s, height .35s;}
.nav-active {opacity: 1;visibility:visible;height: 100%;}
.overlay ul {display: block;position: relative;top:74px;
    left:28px;font-size:25px;}
.overlay ul li {display: block;margin-bottom: 10px;}
.overlay ul li a {color: #fff;text-decoration: none;}

/*.slider li img.mimg{width: 100%;height: 100%;}*/
/*.fullpage #page1 .slider{width:100%;height:100%}*/
.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
    margin-bottom:0;}
.bx-viewport, .bx-wrapper {height: 100%!important;}
/*.bx-pager{display: none;}  아래 페이지 확인 점점이 없음
.bx-controls{display: none;} 방향키 화살표 없음*/
/*.slider{color:white; width:100%; height: 100%; float:left;}*/
.slider .stxt{position: absolute;top: 30%;left: 190px;
 color:#fff;}
.slider .stxt h1{font-size:3.7em;}
.slider li {background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*width:100%;*/
    height: 100vh;
    /*float:left;*/}

img.mouse{width: 20px;height: 50px;float:left;}
img.mouse{animation:xScroll 0.8s infinite alternate;}
     @keyframes xScroll{
            from{margin-top: 20px}
            to{margin-top: 25px}
        }
.slider span{padding-left:10px;margin-top: 40px;
    display: inline-block;}
.sb1{position: absolute;top: 50%;left: 10px;cursor:pointer;}
.sb2{position: absolute;top: 50%;right: 10px;cursor:pointer;}


/*page2*/
#page2{background:#f2e9d7;}
#page2 .page{_width:1270px;position:relative;}
.section .ptxt {text-align: center;
    position:absolute; top:97px;left: 50%;
    transform: translateX(-50%);}
.section .ptxt h2{font-size:1.5em;
    border-top:1px solid;margin: 0 auto;}
.section .ptxt p{font-size:1em;margin-top:5px;}
#page2 .about{display:flex;}
#page2 .about1 img{height:650px;margin-top: 145px;}
.about2{position:absolute;top:247px;left:1090px;}
.about2 img.p2img2{transform: translate(-525px, -20px);}

/*#page2 img{position:absolute;top: 300px;left:1090px;
    opacity:0;transition:0.8s;}
#page2 img.aboutimg1.moveOne{position:absolute;top: 300px;left:1090px;}*/

    


/*page3*/
#page3{background:#f5f0e9}
.page_3{width: 1200px;height:600px;margin: 0 auto;background:pink;
margin-top: 70px;position: relative;padding: 20px;}
.page_3box{background:#2c2a2a;width: 600px;height: 600px;
position: absolute;right: 0;top: 0;}
.page_3box img{margin-top: 20px;height: 560px;position: absolute;right: 150px;}
.page3txt{margin-top:30px;}
.page3txt h3{color:#735a33}
.page3txt p{margin-top: 3px;margin-left: 20px;}
.page3sns{width: 50px;height: 30px;background:black}







/*page4*/
#page4{background:#e3dfdc;}
#page4 .ptxt h2{margin-bottom: 20px;}
#page4 .ptxt .span{width:100px;
    position: absolute;left: 50%;margin-left:-200px;}
#page4 .ptxt span{font-size:1.2em;display: block;margin-right: 10px;}
#page4 .ptxt span:last-child{padding-right: 0;}
#page4 .ptxt span:hover{border-bottom: 1px solid #000;}
#page4 .ptxt{margin-bottom: 60px;}
.boxWrap{width: 1270px;margin:300px auto}
.sBox{width: 300px;height: 500px;background:white;
float: left;margin-right:10px;margin-left: 10px;padding: 25px;}
.sBox img{margin-bottom: 25px;width:100%}
.sBox h3{text-align: center;font-size: 1.4em;margin-bottom: 10px;}
.sBox p{text-align: center;}



/*media*/
@media screen and (max-width:1200px) {
    .boxWrap{width: 1000px;}
    .navbar-header{display: block;}
    #header .nav{display: none;}
}

@media screen and (max-width:750px) {
    .boxWrap{width: 600px;}
    .slider .stxt{left: 50%;
    transform: translateX(-50%);}
    .slider .stxt h1{font-size: 2.5em;line-height: 0.9em;
        margin-bottom:20px;}
    .slider .stxt p {font-size: 0.95em;}
}