@charset "utf-8";

.gall_row figure{overflow:hidden;margin:0;max-width:100%;height:auto;background:#3085a3;text-align:center;cursor:pointer}
.gall_row figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:.8}
.gall_row figure figcaption{padding:20px;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.gall_row figure figcaption::before,.gall_row figure figcaption::after{pointer-events:none}
.gall_row figure figcaption,.gall_row figure figcaption>a{position:absolute;top:0;left:0;width:100%;height:100%}
.gall_row figure figcaption>a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0}
.gall_row figure .post-head{display:block;word-spacing:-0.15em;}
.gall_row figure .post-head,.gall_row figure .desc{margin:0}
.gall_row figure .desc{font-size:12px;}

figure.bx-grandi{position:relative;background:#42b078}

figure.bx-grandi{background:#9e5406}
figure.bx-grandi img{opacity:.7;-webkit-transition:opacity .35s;transition:opacity .35s}
figure.bx-grandi:hover img{opacity:.4}
figure.bx-grandi figcaption::before,figure.bx-grandi figcaption::after{position:absolute;top:10px;right:10px;bottom:10px;left:10px;content:'';opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s}
figure.bx-grandi figcaption::before{border-top:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:scale(0,1);transform:scale(0,1)}
figure.bx-grandi figcaption::after{border-right:1px solid #fff;border-left:1px solid #fff;-webkit-transform:scale(1,0);transform:scale(1,0)}
figure.bx-grandi .post-head{padding-top:30%;-webkit-transition:-webkit-transform .35s;transition:transform .35s;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
figure.bx-grandi .desc{padding:20px 2.5em;opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}
figure.bx-grandi:hover figcaption::before,figure.bx-grandi:hover figcaption::after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
figure.bx-grandi:hover .post-head,figure.bx-grandi:hover .desc{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}