@charset="UTF-8";

.topNav{background-color:pink;}
.topNav a{display: block; float: left; color:white;
padding: 14px 16px;}
.topNav a.icon{float:right;}
.topNav a.icon{display:none;}

@media screen and (max-width:576px){      /*mobile*/
	/*.topNav a:not(:first-child){display:none}*/
	.menuWrap{position:fixed;width: 100%;}
	.topNav a{display: none;}
	.topNav a:first-child{display: block;}
	.topNav a{display:block;}
	.topNav.responsive a{float:none; display: block;}
	.topNav.responsive a.icon{position: absolute;right: 0;top: 0;}
}
@media screen and (min-width:577px) and (max-width:922px){   /*tablet*/


}

@media screen and (min-width:923px){   /*pc*/
	.menuWrap{width: 1200px;position:fixed;
		left: 50%;transform:translateX(-50%);top:20px;}
}
